In [1]:
from faker import Faker
import random

In [2]:
fake=Faker()

In [3]:
print("name:",fake.name())

name: Mariah Cantu

In [4]:
Category={"Rent":["Residential Rent","Commercial Rent","Parking Rent"],
          "Groceries":["Fruits","Vegeatbles","Dairy","Bakery"],
          "Fuel":["Petrol","Diesel","CNG"],
          "Insurance":["LIC","Health Insurance","Vehicle Insurance"],
          "Fees":["School Fees","College Fees"],
          "Bills":["Electricity Bill","Water Bill","Telephone bill"]
          }
Payment_modes=["Cash","Gpay","Net Banking","Debit Card","Credit card"]
Rent=["Residential Rent","Commercial Rent","Parking Rent"]
Cashback=[0,5,10,12,15,50,100,1000]

In [14]:
# Category=["Rent","Groceries","Fuel","Insurance","Fees","Bills"]
# Payment_modes=["Cash","Gpay","Net Banking","Debit Card","Credit card"]
# Rent=["Residential Rent","Commercial Rent","Parking Rent"]
# Groceries=["Fruits","Vegeatbles","Dairy","Bakery"]
# Fuel=["Petrol","Diesel","CNG"]
# Insurance=["LIC","Health Insurance","Vehicle Insurance"]
# Fees=["School Fees","College Fees"]
# Bills=["Electricity Bill","Water Bill","Telephone bill"]
# Cashback=[0,5,10,12,15,50,100,1000]

In [5]:
import pandas as pd

In [6]:
from datetime import datetime

In [7]:
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 1,31 )

def gen_expense_data(num_of_records):
    data=[]
    for i in range(num_of_records):
        random_key = random.choice(list(Category.keys()))
        random_value = Category[random_key]
        expense = {
            "Date":fake.date_between(start_date, end_date),
            "Category":random_key,
            "Payment_modes":random.choice(Payment_modes),
            "Description":random.choice(random_value),
            "Amount":round(random.uniform(10,5000)),
            "Cashback":random.choice(Cashback)
        }
        data.append(expense)
    return pd.DataFrame(data)
records=gen_expense_data(200)
records.to_csv('C:/Users/Guvi/PersonalExpense/ExpenseData/January.csv',index=False)

In [8]:

records

           Date   Category Payment_modes       Description  Amount  Cashback
0    2024-01-08  Groceries          Cash             Dairy    2157        10
1    2024-01-07  Groceries    Debit Card        Vegeatbles     106        15
2    2024-01-23      Bills   Credit card        Water Bill     506         0
3    2024-01-26       Fees          Cash      College Fees     741        12
4    2024-01-22      Bills          Gpay  Electricity Bill     601        50
..          ...        ...           ...               ...     ...       ...
195  2024-01-04       Fees    Debit Card      College Fees    1719        50
196  2024-01-28       Rent   Net Banking      Parking Rent      53        12
197  2024-01-16       Fees          Gpay      College Fees    4996        10
198  2024-01-09       Fees    Debit Card       School Fees    4913        15
199  2024-01-30       Fuel          Cash            Diesel    3303      1000

[200 rows x 6 columns]

In [9]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\guvi\personalexpense\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymysql 
conn=pymysql.connect(host="localhost",user="root",password='123456789')

In [11]:
conn

In [12]:

import glob

# Path to CSV files
csv_files = glob.glob('C:/Users/Guvi/PersonalExpense/ExpenseData/*.csv')

# Read and concatenate all CSV files
merged_df = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)

# Save the merged dataframe to a new CSV file
merged_df.to_csv('C:/Users/Guvi/PersonalExpense/ExpenseData/MergedCSV.csv', index=False)

In [73]:
conn

In [13]:
create_database_query = "CREATE DATABASE IF NOT EXISTS PersonalExpense"

with conn.cursor() as cursor:
    cursor.execute(create_database_query)

In [14]:
use_database_query = "USE PersonalExpense"

with conn.cursor() as cursor:
    cursor.execute(use_database_query)

In [16]:
use_table_query="CREATE TABLE allexpense ( Date DATE NOT NULL,Category VARCHAR(255) NOT NULL, Payment_modes VARCHAR(100) ,Description TEXT, Amount DECIMAL(10, 2) NOT NULL,cashback VARCHAR(10) NOT NULL)"

with conn.cursor() as cursor:
    cursor.execute(use_table_query)

In [17]:


cursor = conn.cursor()

# Load CSV data into pandas DataFrame
df = pd.read_csv('C:/Users/Guvi/PersonalExpense/ExpenseData/MergedCSV.csv')

# Iterate over each row and insert into MySQL table
for i, row in df.iterrows():
    cursor.execute("""
        INSERT INTO AllExpense (Date, Category, Payment_modes, Description, Amount, Cashback)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))

# Commit the transaction and close the connection
conn.commit()
cursor.close()
conn.close()